<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>things</title>
  </head>
  <body>
    hello thing:
    <label>heat:</label>
    <label id="he"></label>
    <label>humidity:</label>
    <label id="hu"></label>
  </body>
  <script src="/js/socket.io.js"></script>
<script>
  var socket = io('http://localhost:3000/thing/home');
  socket.on('connect', function(){
    console.log("connect");
      socket.emit('room', "abc123");
  });
  socket.on('data', function(data){
    console.log("data");
    document.getElementById('he').innerHTML = data.heat;
    document.getElementById('hu').innerHTML = data.humidity;
  });
  socket.on('join', function(data){
    console.log("joined",data.obj);
    });

  socket.on('disconnect', function(){});
</script>
</html>
